{{#d-modal-body class='foward' rawTitle=title}}
  <div class="control-group">
    <label>{{i18n 'advanced_ticketing.forward.modal.email'}}</label>
    <div class="controls">
      {{input value=email}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'advanced_ticketing.forward.modal.message'}}</label>
    <div class="controls">
      {{textarea value=message}}
    </div>
  </div>

  {{#if showIncludePrior}}
    <div class="control-group">
      <div class="controls">
        {{input type="checkbox" checked=includePrior}}
        <span>{{i18n 'advanced_ticketing.forward.modal.include_prior'}}</span>
      </div>
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button disabled=forwardDisabled action="forward" label='advanced_ticketing.forward.title'}}
  {{#if forwarding}}
    {{loading-spinner size="small"}}
  {{else}}
    {{#if result}}
      {{i18n resultTextKey}}
      {{d-icon resultIcon}}
    {{/if}}
  {{/if}}
</div>
